{
    
    "database.host": "localhost",
    "database.name": "你的数据库名",
    "database.user": "你的数据库用户",
    "database.pass": "数据库密码",
    "title": "站点标题",
    "server.salt.enabled": true是开启加盐，false关闭,
    "server.salt.value": 盐是什么,
    "plugin.userfile.enabled": 是否允许用户上传文件,
    "plugin.userfile.max_size": "文件最大大小"
}
